.HomePage {
  /* The image used */
  background-image: url(../content/djbg.jpg);
  filter: blur(2px);

  /* Full height */
  height: 95%;
  width: 100%;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homebox {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  background-color: rgba(90, 14, 128, 0.6);
  border: rgb(193, 117, 231) 2px solid;
  top: 50%;
  left: 10%;
  margin: auto;
  width: 25%;
  padding: 2em;
}
.homebox h1 {
  color: rgb(155, 13, 226);
}
.homebox p {
  color: rgb(232, 216, 238);
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
}
.guideButton {
  border: 1px solid rgba(153, 50, 204);
  background: rgba(153, 50, 204, 0.6);
  color: #fff;
}
