.HomePage {
  /* The image used */
  background-image: url(../content/djbg.jpg);
  filter: blur(2px);

  /* Full height */
  height: 95%;
  width: 100%;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.LogoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.Logo {
  font-size: large;
  padding-top: 20px;
  margin: 20px;
  animation-name: tilt-in-top-1;
  animation-duration: 6s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  33% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  33% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.subLogo {
  color: white;
  margin-top: -70px;
  animation-name: text-focus-in;
  animation-duration: 6s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.homebox {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  background-color: rgba(90, 14, 128, 0.6);
  border: rgb(193, 117, 231) 2px solid;
  top: 50%;
  left: 10%;
  margin: auto;
  width: 25%;
  padding: 2em;
}
.homebox h1 {
  color: rgb(155, 13, 226);
}
.homebox p {
  color: rgb(232, 216, 238);
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
}
.guideButton {
  border: 1px solid rgba(153, 50, 204);
  background: rgba(153, 50, 204, 0.6);
  color: #fff;
}
