.main {
  background: black;
  height: 95vh;
}

.player-container {
  position: absolute;
  left: 9vw;
  top: 20vh;
  float: left;
}

.queue-container {
  width: 40%;
  float: right;
  overflow-y: scroll;
  height: 95vh;
  background-color: white;
}

.videoItems {
  margin-bottom: 20px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgba(224, 21, 224, 0.9) rgb(0, 1, 2);
}

@keyframes novidsanim {
  0% {
    color: rgba(224, 21, 224, 0.9);
    font-size: 30px;
  }
  50% {
    color: rgba(15, 1, 15, 0.9);

    font-size: 60px;
  }
  100% {
    color: rgba(224, 21, 224, 0.9);
    font-size: 30px;
  }
}
.novideos {
  text-align: center;
  font-size: 50px;
  animation-name: novidsanim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
